{{ all_sections where="type:breadcrumb_section" }}
    <!-- ======= start Breadcrumb ======= -->
    {{ partial:partials/sections/breadcrumb_section }}
    <!-- ======= End Breadcrumb ======= -->
{{ /all_sections }}

<!-- ======= start team section ======= -->
<section class="wc-team-section section-all">
    <div class="container">
        <div class="row">
            <div class="col-12">
                 {{ all_sections where="type:title_and_sub_heading" }}
                    <div class="heading-secondary">
                        <h3 class="sub-title">{{ heading }}</h3>
                        <h2>{{ sub_heading }}</h2>
                    </div>
                {{ /all_sections }}

                    {{ collection:team_members paginate="{{ theme_settings:initial_items }}" as="doctors" }}

                        <div class="wc-column-wrapper load-more-wrapper" data-collection="team_members" data-limit="{{ theme_settings:initial_items }}">
                            {{ doctors }}
                                {{ partial:partials/collections/team_members }}
                            {{ /doctors }}
                        </div>

                        {{ paginate }}
                            {{ if next_page }}
                            <div class="text-center mt-5">
                                    <button class="btn btn-primary load-more-btn" data-next-page="{{ next_page }}">
                                        <span class="load-more-text">
                                            {{ theme_settings:initial_items_label }}
                                        </span>
                                        <span class="load-more-spinner" style="display:none;">
                                            <i class="fa-solid fa-spinner fa-spin"></i>
                                        </span>
                                    </button>
                                </div>
                            {{ /if }}
                        {{ /paginate }}

                    {{ /collection:team_members }}

            </div>
        </div>
    </div>
</section>
<!-- ======= start team section ======= -->
