<!-- ======= start footer section ======= -->
<footer>
    <div class="footer-parent">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="footer-content">
                        <div class="footer-logo">
                            <a href="{{ theme_settings:logo_url }}"><img src="{{ theme_settings:dark_logo:url ?? 'javascript:;' }}" alt="{{ theme_settings:dark_logo:alt }}"></a>
                        </div>
                        {{ footer_settings:paragraphs }}
                            <p>{{ paragraph }}</p>
                        {{ /footer_settings:paragraphs }}
                        {{ if header_settings:social_icon }}
                            <ul class="social-icon">
                                    {{ footer_settings:social_icon }}
                                        <li><a href="{{ url ?? 'javascript:;' }}"><i class="{{ icon }}"></i></a></li>
                                    {{ /footer_settings:social_icon }}
                                </ul>
                        {{ /if }}
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="footer-links">
                        <h3 class="footer-title">{{ footer_settings:heading }}</h3>
                        <ul>
                            {{ nav:footer_menu }}
                            <li>
                                <a href="{{ url }}">{{ title }}</a>
                            </li>
                            {{ /nav:footer_menu }}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    {{ footer_settings:add_address }}
                        <div class="contact-details">
                            <h3 class="footer-title">{{ title }}</h3>
                            <ul>
                                <li>
                                    <i class="fa-solid fa-phone"></i>
                                    <p><a href="tel:{{ original_number }}">{{ contact_number }}</a></p>
                                </li>
                                <li>
                                    <i class="fa-regular fa-paper-plane"></i>
                                    <p><a href="mailto:{{ email }}" class="mail-link">{{ email }}</a>
                                    </p>
                                </li>
                                <li>
                                    <i class="fa-solid fa-location-dot"></i>
                                    <p>{{ address }}</p>
                                </li>
                            </ul>
                        </div>
                    {{ /footer_settings:add_address }}
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="contact-info">
                        <h3 class="footer-title">{{ footer_settings:main_heading }}</h3>
                        <p>{{ footer_settings:paragraph }}</p>
                            {{ partial:partials/forms/newsletter }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-12 ">
                <div class="footer-copyright text-center">
                    <p>{{ footer_settings:content }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ======= start footer section ======= -->
