<!-- all min -->
<link rel="stylesheet" href="{{ theme:asset src="assets/css/all.min.css" }}">
<!-- jquery  -->
<link rel="stylesheet" href="{{ theme:asset src="assets/css/jquery-ui.css" }}">
<!-- Magnific Popup -->
<link rel="stylesheet" href="{{ theme:asset src="assets/css/magnific-popup.css" }}">
<!-- swiper CSS -->
<link rel="stylesheet" href="{{ theme:asset src="assets/css/swiper-bundle.min.css" }}">
<!-- Bootstrap -->
<link rel="stylesheet" href="{{ theme:asset src="assets/css/bootstrap.min.css" }}">

<!-- StyleSheet -->
<link rel="stylesheet" type="text/css" href="{{ theme:asset src="assets/css/reseat.css" }}?v={{ now | format('U') }}">
<link rel="stylesheet" type="text/css" href="{{ theme:asset src="assets/css/style.css" }}?v={{ now | format('U') }}">
<link rel="stylesheet" type="text/css" href="{{ theme:asset src="assets/css/responsive.css" }}?v={{ now | format('U') }}">
