@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('BricolageGrotesque-Regular.eot');
    src: url('BricolageGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('BricolageGrotesque-Regular.woff2') format('woff2'),
        url('BricolageGrotesque-Regular.woff') format('woff'),
        url('BricolageGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('BricolageGrotesque-Medium.eot');
    src: url('BricolageGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('BricolageGrotesque-Medium.woff2') format('woff2'),
        url('BricolageGrotesque-Medium.woff') format('woff'),
        url('BricolageGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('BricolageGrotesque-Bold.eot');
    src: url('BricolageGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('BricolageGrotesque-Bold.woff2') format('woff2'),
        url('BricolageGrotesque-Bold.woff') format('woff'),
        url('BricolageGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

