<!-- ======= start Breadcrumb ======= -->
<section class="wc-breadcrumbs"
    style="background-image: url('{{ background_image }}');">
    <div class="container">
        <div class="breadcrumbs-content">
            <h1>{{ title }}</h1>
            <div class="breadcrumbs-page">
                <a href="{{ parent:url }}">{{ parent:title }}</a>
                <i class="fas fa-angle-right"></i>
                <span class="current">{{ title }}</span>
            </div>
        </div>
    </div>
</section>
<!-- ======= End Breadcrumb ======= -->
