
<!-- wc-column -->
<div class="wc-column load-more-item" data-index="{{ index }}">
    <div class="entry-thumb img-cover">
        <a href="{{ url }}"><img src="{{ image:url }}"
                alt="{{ image:alt }}"></a>
    </div>
    <div class="entry-date">
        {{ date }}
    </div>
    <div class="entry-meta-comment">
        <i class="fa-solid fa-comment"></i>
        <span
            class="comment-count"
            data-blog-id="{{ id }}">
            0
        </span> Comments
    </div>
    <h4><a href="{{ url }}">{{ title }}</a>
    </h4>
    <p>{{ description }}</p>
    <a href="{{ url ?? 'javascript:;' }}" class="btn btn-primary">{{
        button_label }}</a>
</div>
